* {
font-family: "JetBrainsMono Nerd Font", "JetBrainsMono NF", "JetBrains Mono", monospace;
font-size: 18px;
font-weight: bold;
}

window {
	background-color: rgba(16, 38, 30, 0.88);
}

button {
	background-color: rgba(16, 38, 30, 0.95);
	color: #FFFFFF;
	border: 1px solid rgba(30, 61, 47, 0.6);
	border-radius: 20px;
	background-repeat: no-repeat;
	background-position: center 28%;
	background-size: 32%;
	margin: 10px;
	padding-top: 24px;
}

button:focus, button:active, button:hover {
	background-color: #1e3d2f;
	border-color: rgba(45, 90, 69, 0.8);
	outline-style: none;
}

#lock {
background-image: image(url("~/evergreen-rice/wlogout/assets-wlogout/unlock.png"), url("~/evergreen-rice/wlogout/assets-wlogout/unlock.png"));
}

#logout {
background-image: image(url("~/evergreen-rice/wlogout/assets-wlogout/logout.png"), url(~/evergreen-rice/wlogout/assets-wlogout/logout.png"));
}

#suspend {
background-image: image(url("~/evergreen-rice/wlogout/assets-wlogout/pause.png"), url("~/evergreen-rice/wlogout/assets-wlogout/pause.png"));
}

#hibernate {
background-image: image(url("~/evergreen-rice/wlogout/assets-wlogout/hibernate-button.png"), url("~/evergreen-rice/wlogout/assets-wlogout/hibernate-button.png"));
}

#shutdown {
background-image: image(url("~/evergreen-rice/wlogout/assets-wlogout/shutdown.png"), url("~/evergreen-rice/wlogout/assets-wlogout/shutdown.png"));
}

#reboot {
background-image: image(url("~/evergreen-rice/wlogout/assets-wlogout/reboot.png"), url("~/evergreen-rice/wlogout/assets-wlogout/reboot.png"));
}
